/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */


.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600;
}

.react-calendar__tile--active{
    background-color: #c3ebfa !important;
    color: black !important;
}